<h1>Re-publisere {{ post.title|raw }}</h1>

{% if post_status == 'publish' %}
    <p class="lead">Saken er n책 publisert!</p>
    <p>
        <a href="../" class="btn btn-primary" target="_blank">Se forsiden</a>
    </p>
    <p> eller </p>
    <p>
        <a href="{{ edit_post_url }}" class="btn btn-primary" target="_blank">Rediger saken</a>
    </p>
{% else %}
    <p class="lead">Saken ligger n책 klar som kladd!</p>

    <a href="{{ edit_post_url }}" class="btn btn-primary" target="_blank">G책 til saken for 책 publisere</a>
{% endif %}